[submodule "docker-hadoop"]
	path = docker-hadoop
	url = git@bitbucket.org:rogermm/docker-hadoop.git
[submodule "docker-hive"]
	path = docker-hive
	url = git@bitbucket.org:rogermm/docker-hive.git
[submodule "docker-spark"]
	path = docker-spark
	url = git@bitbucket.org:rogermm/docker-spark.git
[submodule "docker-hive-metastore-postgresql"]
	path = docker-hive-metastore-postgresql
	url = git@bitbucket.org:rogermm/docker-hive-metastore-postgresql.git
