[submodule "docker-hadoop"]
	path = docker-hadoop
	url = git@github.com:rogeriomm/docker-hadoop.git
[submodule "docker-hive"]
	path = docker-hive
	url = git@github.com:rogeriomm/docker-hive.git
[submodule "docker-hive-metastore-postgresql"]
	path = docker-hive-metastore-postgresql
	url = git@github.com:rogeriomm/docker-hive-metastore-postgresql.git
[submodule "docker-spark"]
	path = docker-spark
	url = git@github.com:rogeriomm/docker-spark.git
[submodule "docker-airflow"]
	path = docker-airflow
	url = git@github.com:rogeriomm/docker-airflow.git
[submodule "docker-elastic"]
	path = docker-elastic
	url = git@github.com:rogeriomm/docker-elastic.git
[submodule "docker-postgres"]
	path = docker-postgres
	url = git@github.com:rogeriomm/docker-postgres.git
[submodule "docker-kafka"]
	path = docker-kafka
	url = git@github.com:rogeriomm/docker-kafka.git
[submodule "docker-command"]
	path = docker-command
	url = git@github.com:rogeriomm/docker-command.git
[submodule "docker-nifi"]
	path = docker-nifi
	url = git@github.com:rogeriomm/docker-nifi.git
[submodule "work"]
	path = work
	url = git@github.com:rogeriomm/work.git
[submodule "docker-minio"]
	path = docker-minio
	url = ./docker-minio
[submodule "docker-zeppelin"]
	path = docker-zeppelin
	url = ./docker-zeppelin
